In [5]:
import os
import json

In [13]:
# Read and load the JSON file
with open("all_listings.json", "r") as file:
    data = json.load(file)

# Display the first few listings to see the structure
print(f"Total listings: {len(data)}")
print(f"First 3 listings:")
for i, listing in enumerate(data[:3]):
    print(f"Listing {i+1}: {listing}")

Total listings: 24
First 3 listings:
Listing 1: {'price': '1295000', 'm2': '111', 'district': '11'}
Listing 2: {'price': '200000', 'm2': '13', 'district': '15'}
Listing 3: {'price': '220000', 'm2': '29', 'district': '18'}

In [22]:
with open("all_listings.json", "r") as file:
    data = json.load(file)

In [25]:
for i, listing in enumerate(data):
    print(f"{listing['price']},{listing['m2']},{listing['district']}")

1295000,111,11
200000,13,15
220000,29,18
280000,28,14
113851,24,19
530000,43,20
315000,24,5
1495000,95,7
186400,21,18
2730000,307,12
797000,73,3
1795000,112,6
595000,77,10
1045000,79,16
359000,36,2
2100000,106,3
199000,16,15
280000,25,7
1245000,95,9
3913000,348,17
343000,38,15
312000,18,4
343000,38,15
312000,18,4

In [ ]:
"price","m2","district"